body {
    margin: auto;
    max-width: 600px;
    font-family: sans-serif;
    text-align: center;
}

*p {
    font-size: 14px;
}

.nova-hra button {
    background-color: rgb(88, 129, 219);
    color: white;
    padding: 5px 25px;
    display: block;
    margin: auto;
    border-radius: 4px;
}

.hraci {
    display: flex;
    justify-content: space-between;
    height: 70px;
}

.hrac {
    display: flex;
}

.bily {
    order: 1;
    padding: 10px 10px;
    text-align: left;
}

.cerny {
    padding: 10px 10px;
    text-align: right;
}

.bily h3,
.cerny h3 {
    margin: 2px 2px;
}

.bily p,
.cerny p {
    margin: 2px 2px;
}

.hraci img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 15px;
}

.sachovnice {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    background-image: url(obrazky/sachovnice.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    border: 8px solid #4b3b28;
    border-radius: 4px;
}

.fig {
    width: 100%;
    justify-self: center;
}

.strelec-c {
    grid-column: 5;
    grid-row: 1;
}

.kral-b {
    grid-column: 6;
    grid-row: 8;
}

.kral-c {
    grid-column: 6;
    grid-row: 6;
}

.kun-b {
    grid-column: 2;
    grid-row: 5;
}

.pesec-b {
    grid-column: 4;
    grid-row: 4;
}

.pesec-c-1 {
    grid-column: 1;
    grid-row: 2;
}

.pesec-c-2 {
    grid-column: 3;
    grid-row: 3;
}

.pesec-c-3 {
    grid-column: 8;
    grid-row: 4;
}

.vez-c {
    grid-column: 3;
    grid-row: 8;
}